html,body {padding:0; margin:0;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.panning {
    width: auto; 
    height: 1000px;
    background: url('/images/houses_bw.png');
}

