body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panning {
    width: auto; // Span to the full width of container
    height: 300px;
    background: url('background.png');
}

