body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panning {
    width: auto; 
    height: 1000px;
    background: url('/images/background.png');
}

