<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/motio.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div id="panning" class="panning" ></div>
  </body>
    <!-- <img src= "/images/background.png"> -->
  <script type="text/javascript">
  // Panning
  var element = document.querySelector('#panning');
  var panning = new Motio(element, {
    fps: 30, // Frames per second. More fps = higher CPU load.
    speedX: -100, // Negative horizontal speed = panning to left.
    speedY: -100 
  });
  panning.play(); // start animation
  </script>
</html>