<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="motio.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="panning" class="panning"></div>
  </body>
  <script type="text/javascript">
  var element = $('#panning');
	var panning = new Motio(element, {
		fps: 30, // Frames per second. More fps = higher CPU load.
		speedX: -30 // Negative horizontal speed = panning to left.
	});
	panning.play();
  </script>
</html>
